{% extends 'base.html.twig' %}

{% block title %}Cramptés Coffee{% endblock %}

{% block body %}

<div class="image">
    <h1>
        Would you like a Cup of Delicious Coffee?
    </h1>
    <p class="text">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
    </p>
    <a href="#">
        <span>Learn More</span>
    </a>
</div>

<div class="about">
    <div class="marge">
        <div class="pipi">
            <p class="aboutus">About us</p>
            <h2>There is all about Coffee house</h2>
            <p class="lorem">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            <div class="flex">
                <div class="conteneur-img">
                    <img src="http://d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/coffeera/f5f1a7be-icon-2-1920x1_1000000000000000000028.png">
                </div>
                <div class="info">
                    <h3 class="titre">Etiam orci</h3>
                    <p class="desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div> 
            </div>
            <div class="flex2">
                <div class="conteneur-img2">
                    <img src="http://d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/coffeera/ec094016-icon-4-1920x1_1000000000000000000028.png">
                </div>
            <div class="info2">
                <h3 class="titre">Turpis faucibus</h3>
                    <p class="desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div> 
            </div>
        </div>
        <div class="lp-element lp-pom-image" id="lp-pom-image-536"><div class="lp-pom-image-container" style="overflow: hidden;"><img src="//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/coffeera/6c35f294-sung-wang-g4dgcf90em4-unsplash_109q0cs00000000000001o.jpg" alt="" loading="lazy" data-src-desktop-1x="//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/coffeera/6c35f294-sung-wang-g4dgcf90em4-unsplash_109q0cs00000000000001o.jpg" data-src-mobile-1x="//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/coffeera/6c35f294-sung-wang-g4dgcf90em4-unsplash_107s0a800000000000001o.jpg" srcset=""></div></div>
    </div>
    <div class="lp-element lp-pom-image" id="lp-pom-image-537"><div class="lp-pom-image-container" style="overflow: hidden;"><img src="//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/coffeera/af0486ef-ben-white-yqgjos0ske-unsplash_10c308200000000000001o.jpg" alt="" loading="lazy" data-src-desktop-1x="//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/coffeera/af0486ef-ben-white-yqgjos0ske-unsplash_10c308200000000000001o.jpg" data-src-mobile-1x="//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/coffeera/af0486ef-ben-white-yqgjos0ske-unsplash_106y04n00000000000001o.jpg" srcset=""></div></div>



    <div class="lp-element lp-pom-block" id="lp-pom-block-634"><div id="lp-pom-block-634-color-overlay"></div><div class="lp-pom-block-content"></div></div>

    <p class="special">Special Online Shop</p>
    <p class="popular">Our Popular Products</p>
    <a href="#" class="lien-produit"><span>See All Products</span></a>

{% for product in products %}
    <div class="fond">
        <div class="niggerbox">
            <img src="http://d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/coffeera/26d42fc0-cimg-01_1000000000000000000028.png">
        </div>
        <h4 class="zumbacafe">{{ product.name }}</h4>
        <p class="cafecarnaval">{{ product.description }}</p>
        <div class="prix">
            <div>
            <span class="dollar">$</span>
            <span class="price">{{ product.price }}</span>
            </div>
        </div>
    </div>
    {% endfor %}


    <div class="retour">
        <p class="test">Testimonial</p>
        <h5>What Our Clints Says</h5>
        <div class="placement">
            <div class="contenant-box">
                <img src="http://d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/coffeera/wrpf0n-team-b1_102s02s00000000000001o.jpg"> 
                <p class="comm">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                <span class="name">John Deo</span>
                <span class="role">Founder</span>
            </div>
            <div class="contenant-box">
                <img src="http://d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/coffeera/15w7gjk-tyler-hardy_102s02s00000000000001o.jpg">
                <p class="comm">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                <span class="name">Sumi Roy</span>
                <span class="role">Manager</span>
            </div>
            <div class="contenant-box">
                <img src="http://d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/coffeera/vzqxf1-2_102s03002s02s00000401o.jpg">
                <p class="comm">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                <span class="name">David Lee</span>
                <span class="role">Designer</span>
            </div>
        </div>
    </div>

    <div class="contenant-formulaire">
        <h2>Contact Us !</h2>
        <form action="#" method="post">
        <label for="nom">Nom :</label>
        <input type="text" id="nom" name="nom" required>

        <label for="prenom">Prénom :</label>
        <input type="text" id="prenom" name="prenom" required>

        <label for="email">Email :</label>
        <input type="email" id="email" name="email" required>

        <label for="telephone">Téléphone :</label>
        <input type="tel" id="telephone" name="telephone">

        <label for="message">Message :</label>
        <textarea id="message" name="message" rows="4" required></textarea>

        <button type="submit">Envoyer</button>
    </form>
    </div>

    </div>
</div>

<footer>
    <div class="gauche">
        <h6 class="folie">Cramptés Coffee</h6>
        <p class="descriptionducafe">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Feugiat purus sed fames cursus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Feugiat purus sed fames cursus.
        </p>
        <img class="premiere" src="http://d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/coffeera/17600a29-facebook-app-symbol_100p00p000000000000028.png">
        <img src="http://d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/coffeera/7b85bd99-twitter2_100p00p000000000000028.png">
        <img src="http://d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/coffeera/21dbf2cd-linkedin2_100p00p000000000000028.png">
        <span>Shop 1</span>
    </div>
    <div class="droite">

    </div>

    <div class="ligne"></div>

    <div class="copyright">
    <p>© 2021 Copyright <span>Coffeesra</span>. All Rights Reserved.</p>
    </div>
</footer>
{% endblock %}