{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}

    <div class="produit">
        <p class="special">Special Online Shop</p>
        <p class="popular">Our Products</p>
        <a href="#" class="lien-produit"><span>See All Products</span></a>
        {% for product in products %}
        <div class="fond">
            <div class="niggerbox">
                <img src="http://d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/coffeera/26d42fc0-cimg-01_1000000000000000000028.png">
            </div>
            <h4 class="zumbacafe">{{ product.name }} Note :  {{ product.note }} / 10</h4>
            <p class="cafecarnaval">{{ product.description }}</p>
            <div class="prix">
                <div>
                    <span class="dollar">$</span>
                    <span class="price">{{ product.price }}</span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>


{% endblock %}